<aside class="flex flex-col justify-between h-full py-10 pr-5 pl-14 w-75 bg-gray-50 zoom-container ">
  <!-- Logo -->
  <div>
    <div class="flex items-center justify-start gap-2 px-3 mb-6">
        <a routerLink="" class="flex items-center gap-3 transition-transform duration-300 transform cursor-pointer hover:scale-105">
          <img src="assets/img/logo.png" alt="ViajeroSV" class="h-[3rem]" />
        </a>
    </div>

    <!-- Dashboard -->
    <a routerLink="/dashboard" class="flex items-center justify-start gap-3 w-[215px] h-[50px] px-6 mb-3 mx-auto text-white rounded-[20px] bg-[#538CFF] shadow-lg cursor-pointer transform transition-transform duration-200 hover:scale-105 hover:shadow-xl">
        <img src="assets/icons/dashboard.png" alt="Dashboard Icon" class="w-5 h-5" />
      <span class="text-sm font-semibold">Dashboard</span>
    </a>

    <!-- Usuario -->
    <a class="flex items-center justify-start gap-3 w-[215px] h-[50px] px-6 mb-3 mx-auto text-[#0E225C] rounded-[20px] bg-[#FFFFFF] shadow-lg cursor-pointer transform transition-transform duration-200 hover:scale-105 hover:shadow-xl">
        <img src="assets/icons/usuarios.png" alt="Usuarios Icon" class="w-5 h-5" />
      <span class="text-sm font-semibold">Usuarios</span>
    </a>

    <!-- Auditoría -->
    <a class="flex items-center justify-start gap-3 w-[215px] h-[50px] px-6 mb-3 mx-auto text-[#0E225C] rounded-[20px] bg-[#FFFFFF] shadow-lg cursor-pointer transform transition-transform duration-200 hover:scale-105 hover:shadow-xl">
        <img src="assets/icons/auditoria.png" alt="Usuarios Icon" class="w-5 h-5" />
      <span class="text-sm font-semibold">Auditoría</span>
    </a>

    <!-- Categorías -->
    <a class="flex items-center justify-start gap-3 w-[215px] h-[50px] px-6 mb-3 mx-auto text-[#0E225C] rounded-[20px] bg-[#FFFFFF] shadow-lg cursor-pointer transform transition-transform duration-200 hover:scale-105 hover:shadow-xl">
        <img src="assets/icons/category.png" alt="Usuarios Icon" class="w-5 h-5" />
      <span class="text-sm font-semibold">Categoría</span>
    </a>

    <!-- Mensajes -->
    <a class="flex items-center justify-start gap-3 w-[215px] h-[50px] px-6 mb-3 mx-auto text-[#0E225C] rounded-[20px] bg-[#FFFFFF] shadow-lg cursor-pointer transform transition-transform duration-200 hover:scale-105 hover:shadow-xl">
        <img src="assets/icons/messages.png" alt="Usuarios Icon" class="w-5 h-5" />
      <span class="text-sm font-semibold">Mensajes</span>
    </a>

    <!-- Todos los cupones -->
    <a class="flex items-center justify-start gap-3 w-[215px] h-[50px] px-6 mb-3 mx-auto text-[#0E225C] rounded-[20px] bg-[#FFFFFF] shadow-lg cursor-pointer transform transition-transform duration-200 hover:scale-105 hover:shadow-xl">
        <img src="assets/icons/ticket-cupones.png" alt="Usuarios Icon" class="w-5 h-5" />
      <span class="text-sm font-semibold">Todos los cupones</span>
    </a>

    <!-- Todas las empresas -->
    <a class="flex items-center justify-start gap-3 w-[215px] h-[50px] px-6 mb-3 mx-auto text-[#0E225C] rounded-[20px] bg-[#FFFFFF] shadow-lg cursor-pointer transform transition-transform duration-200 hover:scale-105 hover:shadow-xl">
        <img src="assets/icons/ticket-cupones.png" alt="Usuarios Icon" class="w-5 h-5" />
      <span class="text-sm font-semibold">Todas las empresas</span>
    </a>

  </div>

  <!-- Configuración -->
  <div>
    <a class="flex items-center justify-start gap-3 w-[215px] h-[50px] px-6 mb-3 mx-auto text-[#0E225C] rounded-[20px] cursor-pointer transform transition-transform duration-200 hover:scale-105">
        <img src="assets/icons/setting-2.png" alt="Configuración Icon" class="w-5 h-5" />
      <span class="text-sm font-semibold">Configuración</span>
    </a>
  </div>
</aside>
