<section class="max-w-[1280px] mx-auto mt-24 text-center">

  <!-- Título -->
  <h2 class="text-[28px] font-semibold text-[#0E225C] mb-12">
    Explorar categorías
  </h2>

  <!-- Slider -->
  <div class="flex items-center justify-center gap-6 mt-10">

    <!-- Flecha izquierda -->
    <button class="w-9 h-9 flex items-center justify-center
         rounded-full border border-[#538CFF]
         text-[#538CFF] text-lg">
      ‹
    </button>

    <!-- Categorías -->
    <div class="flex gap-6">

      <!-- Alojamiento -->
      <div class="flex items-center h-16 bg-[#F4F7FB]
         rounded-full pr-8 gap-4">

        <!-- ICONO (ocupa TODO el alto) -->
        <div class="w-16 h-16 rounded-full
           bg-[#FFF8D2]
           flex items-center justify-center">
          <img src="assets/icons/double-bed.svg" class="w-7 h-7" />
        </div>

        <!-- TEXTO -->
        <span class="text-[#0E225C] text-sm font-medium">
          Alojamiento
        </span>
      </div>

      <!-- Alimentos -->
      <div class="flex items-center h-16 bg-[#F4F7FB]
         rounded-full pr-8 gap-4">

        <div class="w-16 h-16 rounded-full
           bg-[#ABE9FF]
           flex items-center justify-center">
          <img src="assets/icons/dinner.svg" class="w-7 h-7" />
        </div>

        <span class="text-[#0E225C] text-sm font-medium">
          Alimentos y bebidas
        </span>
      </div>

      <!-- Turismo -->
      <div class="flex items-center h-16 bg-[#F4F7FB]
         rounded-full pr-8 gap-4">

        <div class="w-16 h-16 rounded-full
           bg-[#D8D7FF]
           flex items-center justify-center">
          <img src="assets/icons/sunbed.svg" class="w-7 h-7" />
        </div>

        <span class="text-[#0E225C] text-sm font-medium">
          Turismo
        </span>
      </div>

    </div>

    <!-- Flecha derecha -->
    <button class="w-9 h-9 flex items-center justify-center
         rounded-full border border-[#538CFF]
         text-[#538CFF] text-lg">
      ›
    </button>

  </div>
</section>
