.hashtag-wrapper {
  position: absolute;
  right: 17px;
  bottom: -68px;
  width: 395px;
  height: 104px;
}

.hashtag-wrapper img {
  width: 100%;
  height: 100%;
  display: block;
}

.hashtag-wrapper span {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    pointer-events: none;
    top: 26px;
    left: 40px;
}
