<app-topbar location="Dashboard">
</app-topbar>
<!-- Contenedor Principal -->
<div class="bg-[#FFFFFF] min-h-screen px-4 py-5 md:p-10 space-y-5 md:space-y-8">

  <!-- Header -->
  <div class="border-b border-[#C8CFDA] pb-3">
    <div class="flex justify-between items-center">
      <h1 class="text-2xl md:text-2xl font-semibold text-[#1A2440]">
        {{ companyName }}
      </h1>

      <div class="bg-[#E2E8F0] px-4 py-2 rounded-full text-base md:text-sm font-medium text-[#1A2440]">
        {{ currentMonthLabel }}
      </div>
    </div>
  </div>

  <!-- Estadísticas -->
  <div class="grid grid-cols-2 md:grid-cols-4 gap-4 md:gap-6">
    <div *ngFor="let stat of stats"
         class="bg-[#F4F7FD] rounded-2xl p-4 md:p-6 shadow-sm flex flex-col items-center justify-center text-center gap-3 min-h-[138px] md:min-h-[150px]">

      <div>
        <p class="text-lg md:text-lg leading-tight text-[#0E225C] mb-2">
          {{ stat.label }}
        </p>
        <div class="flex items-center justify-center gap-3">
          <div class="w-12 h-12 md:w-14 md:h-14 rounded-full flex items-center justify-center"
               [ngClass]="stat.color">
            <svg class="w-7 h-7 md:w-8 md:h-8 text-[#1A2440]" aria-hidden="true">
              <use href="assets/icons/sprite.svg#ticket-money"></use>
            </svg>
          </div>
          <p class="text-[42px] leading-none md:text-5xl font-semibold text-[#0E225C]">
            {{ stat.value }}
          </p>
        </div>
      </div>

    </div>
  </div>

  <!-- Gráfica + Top -->
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 md:gap-6">

    <!-- Gráfica -->
    <div class="lg:col-span-2 bg-[#F4F7FD] rounded-2xl p-4 md:p-6 shadow-sm">
      <h2 class="font-semibold text-[#1A2440] text-3xl md:text-3xl mb-4">
        Desempeño de Canjes
      </h2>
      <p class="text-base md:text-sm text-gray-500 mb-4">
        Cantidad de cupones canjeados por día del mes.
      </p>

      <div class="bg-white border border-[#D5DBE5] rounded-2xl p-3 md:p-4 h-[280px] md:h-[300px]">
        <canvas
          baseChart
          [data]="barChartData"
          [options]="barChartOptions"
          chartType="bar">
        </canvas>
      </div>
    </div>

    <!-- Top cupones -->
    <div class="bg-[#F4F7FD] rounded-2xl p-4 md:p-6 shadow-sm">
      <h2 class="font-semibold text-[#1A2440] text-3xl md:text-3xl mb-4">
        Top cupones canjeados
      </h2>

      <div class="space-y-0">
        <div *ngFor="let coupon of topCoupons"
             class="flex justify-between items-center text-base md:text-sm py-3 border-b border-[#D5DBE5]">
          <span class="text-gray-700">{{ coupon.name }}</span>
          <span class="font-medium text-[#1A2440]">
            {{ coupon.total }}
          </span>
        </div>
      </div>

      <div class="mt-4 text-center">
        <span
          class="text-blue-600 text-2xl md:text-sm font-medium cursor-pointer underline underline-offset-2"
          (click)="goToRedemptionHistory()">
          Ver todos
        </span>
      </div>
    </div>
  </div>

  <!-- Transacciones -->
  <div class="bg-[#F4F7FD] rounded-2xl p-4 md:p-6 shadow-sm">
    <h2 class="font-semibold text-[#1A2440] text-3xl md:text-3xl mb-4">
      Transacciones recientes
    </h2>

    <div class="overflow-x-auto bg-white rounded-xl border border-[#D5DBE5]">
      <table class="min-w-[680px] w-full text-sm">
        <thead class="text-left text-gray-500 border-b">
          <tr>
            <th class="py-3 px-3 md:px-4">Fecha y hora</th>
            <th class="px-3 md:px-4">Cupón/Oferta</th>
            <th class="px-3 md:px-4">Usuario</th>
            <th class="px-3 md:px-4">Estado</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let t of transactions"
              class="border-b hover:bg-gray-50 transition">
            <td class="py-3 px-3 md:px-4">{{ t.date }}</td>
            <td class="px-3 md:px-4">{{ t.coupon }}</td>
            <td class="px-3 md:px-4">{{ t.user }}</td>
            <td class="px-3 md:px-4">
              <span class="px-3 py-1 rounded-full text-xs bg-green-100 text-green-700">
                {{ t.status }}
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>
